<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Listado de Tasas</h3>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th>Moneda</th>
                      <th>Factor Cambio</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @factor.each do |factor| %>
                      <tr>
                        <td> <%= factor.moneda[0] + " (" + factor.moneda[1] +")" %> </td>
                        <td> <%= factor.valor_dolar %> </td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>
