<label for="hipodromo_tipo">Liga</label>
<select size=1 class="form-control" placeholder="Tipo"  name="liga_id" id="liga_id" >
<%for liga in @ligas%>
  <option value="<%= liga.liga_id %>"  ><%= liga.nombre %></option>
<%end%>
</select>
