
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div style="float: left;width: 20%" id="select_busqueda">
          <select id="numero_tickets" size="20" class="form-control" onchange="mostrar(1,'','','')">
            <%for ticket in @datos%>
                <option value="<%= ticket.id%>" data-hora="<%= ticket.created_at.strftime('%d/%m/%Y %I:%M %p')%>" data-datos="<%= [[ticket.detalle,ticket.monto, ticket.status_jugada]] %>">
                  <%= ticket.id%>
                </option>
            <%end%>   
          </select>
          </div>
          <div style="float: left;width: 70%;margin-left: 2%;text-align: center">
              <p style="font-weight: bold">Detalle de ticket</p>
              <div id="detalle_individual" style="margin-left: 2%;text-align: left;padding-top: 10px">
              
              </div>
          </div>
       </div>
    </div>
  </div>
</div>

