<%= javascript_include_tag "axios.js" %>
<%= javascript_include_tag "swalert.js" %>
<script>

function visualizar(){
  $('#div_auditoria').html('');
  $('#div_preview').html('');

  axios({
      method: 'POST',
        url: '/unica/utilidades/examinar_usuario',
      data: {
        "id": $('#id').val()
      },
    })
    .then(function(response) {
        $('#div_preview').html(response.data);
    }
  )
  .catch(function (error) {
    swal("Lo siento", "Error", "error");
  });

}


function auditoria(){
  // if ($('#moneda').val() == '0'){
  //   swal("Error", "Seleccione una moneda", "error");
  //   return 
  // }
  axios({
      method: 'POST',
        url: '/unica/utilidades/auditoria',
      data: {
        "id": $('#id').val(),
        "dias": $('#dias').val(),
        "currency_id": $('#moneda').val()
      },
    })
    .then(function(response) {
        $('#div_auditoria').html(response.data);
    }
  )
  .catch(function (error) {
    swal("Lo siento", "Error", "error");
  });

}

</script>
<form>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Auditoria de usuario</h3>
        </div>
        <div class="form-group">
          <div class="box-body">
            <div class="form-group" id="div_deportes" 
                  style="display: flex; flex-wrap: wrap; align-items: center; gap: 10px; width: 100%; max-width: 450px;">
              <label style="min-width: 80px; flex: 1; text-align: center;">Id Usuario</label>
              <input type="text" value="" name="id" id="id" class="form-control" style="flex: 2; min-width: 150px; border-radius: 8px; color: #333; font-weight: bold;">
              <input type="button" value="Buscar" class="btn btn-success" onclick="visualizar();" style="flex: 0.5; min-width: 80px;border-radius: 8px;">
            </div>
            <div id="div_preview" class="form-group">
            </div>
            <div id="div_auditoria" class="form-group">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


