<%= javascript_include_tag "axios.js" %>

<%= javascript_include_tag "swalert.js" %>

<script>

function grabar(){
  mensaje = "" ;
if ($('#radio').prop('checked')){
    mensaje = "BLOQUEAR";
}else{
    mensaje = "DESBLOQUEAR";
}
       swal({
        title: "ESTA SEGURO DE " + mensaje +  " TODAS LAS TAQUILLAS?",
        text: "Desea continuar?",
        icon: "warning",
         dangerMode: true,
        buttons: {
        confirm: "Cancelar",
         cancel: "Aceptar",
         },
      })
      .then((willDelete) => {
        if (willDelete) {
        } else {
            axios({
                method: 'POST',
                  url: '/unica/configuracion/bloqueo_masivo',
                data: {
                    "activo": $('#radio').prop('checked')
                },
              })
              .then(function(response) {
                swal("Completo", "Datos almacenados.", "success") ;
              }

            )
            .catch(function (error) {
              swal("Lo siento", "Ocurrio un error.", "error");
            });
        }
      });

}

</script>


<style>
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<form>
<div class="row">
<div class="col-xs-12">
  <div class="box">

    <div class="box-header">
      <h3 class="box-title">Bloqueo Masivo de Taquillas</h3>
    </div>

    <div class="box-footer">
      <div class="card col-xs-2" style="margin-left: -10px;">
         <ul class="list-group list-group-flush">
           <li class="list-group-item" style="height: 40px;" >
               <label style="color: black;font-family: 'Arial', Gadget, sans-serif;font-size: 11px;">Bloquear</label>
               <label class="switch ">  <input type="checkbox" id="radio" <%= @activo ? 'checked': ''%> class="success hipos btn-sm"> <span class="slider round"></span> </label>
           </li>
         </ul>
       </div>

    </div>

    <div class="box-footer">
      <input type="button" value="Aceptar" class="btn btn-success" onclick="grabar()"/>
    </div>

  </div>
</div>
</div>
</form>
<script>
   window.boton_check() ;
</script>
