
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div style="float: left;width: 20%" id="select_busqueda">
          <select id="numero_tickets" size="20" class="form-control" onchange="mostrar_ticket(this.value)">
            <%for ticket in @datos%>
              <option value="<%= ticket.id%>"> <%= ticket.id%> </option>
            <%end%>
          </select>
        </div>
        <div style="float: left;width: 70%;margin-left: 2%;text-align: center">
          <p style="font-weight: bold">Detalle de ticket</p>
          <div id="detalle_individual" style="margin-left: 2%;text-align: left;padding-top: 10px"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= @respuesta_json%>
